* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* For removing increament and decrement in form type number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* for navbar */
.navbarLogo {
  /* height: 100%; */
  border-bottom: 1px solid black;
  /* background-color: #4c4c4c; */
}

/* for AddProduct background  */
#dialog {
  width: 100%;
  height: 100vh;
  background-color: #4c4c4c;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* for AddProduct div */
#dialog-content {
  /* width: 471px; */
  background-color: #fff;
  border-radius: 10px;
  color: #000;
}

/* for Cart Page icon */
.addtopageicon svg {
  height: 50px;
  width: 100px;
  color: #7445ff;
}

/* For EditButton IN edit Page */
.Editbutton {
  background: #7445ff;
  border: none;
  width: 89px;
  height: 36px;
  border-radius: 6px;
  color: whitesmoke;

}

#empdeslabel1 {
  color:#7445ff;
  border: 1px solid #f8f8f8;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, .2) !important;
  font-weight: 600;
  width: 274px;
  margin-left: auto;
  margin-right: auto;
}